body {
  padding-top: 60px;
  padding-bottom: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
a.delete_link {
    float: right;
}

#article_content {
  font-size: larger;
}

h1.article_headline {
  background-color: #efefef;
}

#articles_list {
  font-size: medium;
}

#comment_author {
  font-size: larger;
}
#about_info {
  font-size: large;
  text-align: center;
}